body {
  background: rgb(243, 244, 246);
  background-image: url(../public/Images/greenbg.jpeg);
  background-repeat: no-repeat;
}
H1 {
  text-align: center;
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
  margin-top: 1rem;
}
p {
  font-family: monospace;
  font-weight: 400;
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.form-control {
  margin-left: 1rem;
  margin-top: 0.2rem;
  height: 25px;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;
  border: 1px solid rgb(221, 215, 215);
}
.button {
  display: flex;
  margin-left: 1rem;
}
button {
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.orange-button {
  background: orange;
  border: none;
  height: 30px;
  font-size: 10px;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
.blue-button {
  height: 30px;
  font-size: 10px;
  background: rgb(32, 32, 199);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.weather-app {
  border: 1px solid #acd3c6;
  border-radius: 10px;
  width: 12.5cm;
  margin-top: 0.5rem;
  height: 19.5rem;

  justify-content: center;
  align-items: center;
}
.weather-app {
  background-color: #acd3c6;
}
.weather-details {
  position: relative;
  left: 1rem;
  top: 1rem;
}
.town-time-des {
  display: grid;
  justify-content: center;
  font-weight: 400;
  line-height: 1.3rem;
  color: #122c83;
}
.town {
  letter-spacing: 1px;
  font-size: 20px;
}

.temp {
  color: hsl(0, 0%, 8%);
  font-size: 25px;
  margin-top: 2rem;
}

.unit {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -10px;
}
.prep {
  color: hsl(0, 0%, 8%);
  font-weight: 800;
  font-size: 12px;
  margin-top: 2rem;
}

.list {
  position: relative;
  left: 16.5rem;
  bottom: 17rem;
  font-family: sans-serif;
  font-weight: 350;
  margin: 16px;
}

.weather-forcast-temperature-min {
  font-size: 12px;
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: #122c83;
}
footer {
  font-family: monospace;
  text-align: center;
  font-size: 13px;
}

.weather-details .active {
  color: rgba(13, 13, 14, 0.904);
  cursor: default;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
  }
  form {
    position: relative;
    left: 1rem;
  }
  .form-control {
    width: 10rem;
  }
  .button {
    margin-top: 0.5rem;
  }
  .container {
    font-size: 10px;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;
  }

  .weather-app {
    position: relative;

    width: 11cm;
    margin-top: 0.5rem;
    height: 19.5rem;
  }
}
